.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.quantity-text {
  margin: 10px;
  font-size: 1.4rem;
  user-select: none;
}

.quantity-button {
  margin: 5px;
  height: 30px;
  width: 30px;
  font-size: 1.2rem;
  border-radius: 50%;
  border: none;
}
.quantity-button:active {
  background-color: #6767ab;
  color: #f6f6ff;
}