.root {
  display: flex;
  flex-direction: column;
}

.product-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.product-price {
  display: none;
}

@media (min-width: 1024px) {
  .product-price {
    display: initial;
  }
}
