.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
}
.inline-form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  max-width: 500px;
}
input {
  font-size: 1rem;
  height: 40px;
  width: 88%;
  margin: 7px 6px;
  padding: 0;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid rgb(202, 202, 202);
}
input:focus {
  outline: 1px solid #6767AB;
}
.buttons-row {
  display: flex;
  flex-flow: row;
  width: 90%;
  max-width: 500px;
  margin: 25px auto;
}
.shipping-button, .back-button {
  width: 100%;
  height: 40px;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f6f6ff;
  background-color: #6767AB;
  font-weight: 600;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}
.back-button {
  background-color: transparent;
  border: 1px solid #6767AB;
  color: darkslategray;
}
.shipping-button:hover {
  border: 2px solid #6767ab;
  background-color: #f6f6ff;
  color: #6767ab;
  transition: all 100ms ease-in-out;
  cursor: pointer;
}
.back-button:hover {
  border: 2px solid #6767ab;
  background-color: #f6f6ff;
  color: #6767ab;
  transition: all 100ms ease-in-out;
  cursor: pointer;
}