.prices-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 35%;
  margin-right: 35%;
}

.price {
  font-weight: bold;
}

.discount-price {
  color: gray;
  text-decoration: line-through;
  font-size: 1.3rem;
}