.main {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 100px 25px; */
}

.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 100px 25px;
}

.details-actions {
  text-align: center;
}

@media (max-width: 700px) {
  .section {
    grid-template-columns: 1fr;
  }
}
