.root {
  align-self: flex-start;
}

.quantity-container {
  width: 18px;
  height: 18px;
  line-height: 1.5rem;
  background-color: #A6A6B9;
  border-radius: 50%;
  text-align: center;
}

.quantity-count {
  display: block;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.25rem;
}