.main {
  width: 100%;
  height: 40px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f6f6ff;
  background-color: #6767ab;
  font-weight: 600;
  border-radius: 50px;
  border: none;
}
.main:hover {
  border: 2px solid #6767ab;
  background-color: #f6f6ff;
  color: #6767ab;
  transition: all 100ms ease-in-out;
  cursor: pointer;
}
