.main {
  width: 250px;
  height: 30px;
  margin: 20px;
  color: white;
  background-color: black;
  border-radius: 5px;
}
.main:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
