/* cart header */
.cart-header {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  padding-top: 25px;
  width: 100%;
}

.cart-header h1 {
  margin: 0;
}

.cart-header h1 span {
  border-bottom: 1px solid;
}

.close-cart-btn {
  margin-left: auto;
  margin-right: 10px;
}
