/* product */
.product-section {
  display: flex;
  margin: 10% 5%;
}

.product-image {
  width: 30%;
}

/* product details */
.product-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 5%;
}

.product-details .actions {
  margin-bottom: 7%;
}

.product-name {
  font-weight: 500;
  margin-bottom: 5%;
}

.product-price {
  font-weight: 600;
  margin-bottom: 5%;
}

.quantity-text {
  margin: 5px;
}

.quantity-button {
  background-color: #A6A6B9;
}

.quantity-button:hover {
  cursor: pointer;
}

.remove-button {
  font-size: 0.8rem;
  text-decoration: underline;
}

.remove-button:hover {
  cursor: pointer;
}
