.main {
  display: grid;
  grid-template-columns: 1fr 0.1fr 1fr;
  text-align: center;
}

.section-one, .section-two {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}


h3 {
  margin: 35px;
  margin-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
}
.inline-form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  max-width: 500px;
}
input {
  height: 40px;
  width: 88%;
  margin: 7px 6px;
  padding: 0;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid rgb(202, 202, 202);
}
input:focus {
  outline: 1px solid #6767AB;
}

.buttons-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 25px;
}
.shipping-button, .back-button {
  width: 170px;
  height: 55px;
  font-size: .9rem;
  border-radius: 5px;
  background-color: #6767AB;
  color: white;
}
.back-button {
  background-color: transparent;
  border: 1px solid #6767AB;
  color: darkslategray;
}

.separator {
  background-color: rgb(202, 202, 202);
  width: 1px;
  height: 100%;
  border-radius: 2px;
}
.h-separator {
  background-color: rgb(202, 202, 202);
  height: 1px;
  width: 90%;
  border-radius: 2px;
}

.subtotal-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-right: 10%;
}
.sub-l {
  float: left;
  color: gray;
}
.sub-r {
  float: right;
}

.total-price-container {
  margin-right: 10%;
}
.total {
  float: left;
  font-size: 1.2rem;
}
.final-price { 
  float: right;
  font-size: 1.3rem;
  font-weight: bold;
}


@media only screen and (max-width: 800px) {
  .main {
    grid-template-rows: 1fr 0.1fr 1fr;
    justify-content: center;

  }
  .section-one {
    grid-row: 3;
  }
  .section-two {
    grid-row: 1;
  }
  .separator {
    grid-row: 2;
  }
}