.main {
  display: grid;
  grid-template-columns: 1fr 0.1fr 1fr;
  text-align: center;
}

.section-one, .section-two {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}


h3 {
  margin: 35px;
  margin-bottom: 10px;
}

.separator {
  background-color: rgb(202, 202, 202);
  width: 1px;
  height: 100%;
  border-radius: 2px;
}
.h-separator {
  background-color: rgb(202, 202, 202);
  height: 1px;
  width: 90%;
  border-radius: 2px;
}

.subtotal-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-right: 10%;
}
.sub-l {
  float: left;
  color: gray;
}
.sub-r {
  float: right;
}

.total-price-container {
  margin-right: 10%;
}
.total {
  float: left;
  font-size: 1.2rem;
}
.final-price { 
  float: right;
  font-size: 1.3rem;
  font-weight: bold;
}


.breadcrumb {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-start;
  justify-content: center;
  user-select: none;
  font-size: .8rem;
}
.breadcrumb span {
  margin: 5px;
  cursor: pointer;
}
#info:active, #shipp:active {
  color: #6767AB;
}



@media only screen and (max-width: 800px) {
  .main {
    grid-template-rows: 1fr 0.1fr 1fr;
    justify-content: center;

  }
  .section-one {
    grid-row: 3;
  }
  .section-two {
    grid-row: 1;
  }
  .separator {
    grid-row: 2;
  }
}