.menu {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #F6F6FF;
  z-index: 2;
  opacity: 0;
  /*transition: all 0.3s ease-in 0.1s;*/
}


.open {
  opacity: 1;
  transition: all 0.3s ease-in 0.1s;
}

.nav {
  padding: 15vh 25vw;
}

.nav ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

.nav ul li {
  font-size: 1.5rem;
  line-height: 3rem;
  font-weight: 500;
}

.nav ul li a {
  text-decoration: none;
  color: #141421;
}

.nav ul li a:hover {
  color: #6767ab;
}